input, table {
    width: 100%;
}

.DialogDivider {
    border-top: 1px solid #e8ecee;
}

.DialogFloatButton {
    margin-top: 10px !important;
}

.DialogFloatRight {
    float: right;
    margin-right: 20px;
}

.FloatCenterDialog {
    background-color: white;
    position: fixed;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) !important;
}

.InboxButton-backLink {
    color: #848f99;
}

.InboxButton-backLink.disabled {
    cursor: not-allowed;
}

.IsInvalid {
    border-color: #ff5263 !important;
}

.MenuItemLabel-shortcut {
    justify-content: space-between;
}

.NoBorderBottom {
    border-bottom: none !important;
}

.ProjectLinkLabel {
    margin-right: 5px !important;
}

.ReplaceDescriptionStructure-formContents {
    box-sizing: border-box;
    padding: 16px 32px;
}

.ReplaceUserTextSection {
    max-height: 400px;
}

.ReplaceUserTextSectionDescription {
    margin-bottom: 10px;
}

.SetParentDrawer-typeaheadInput {
    margin-top: 10px;
    width: 100%;
}

.SetParentSwitchView {
    display: block !important;
}

/* #7ac8ee comes from the average of two background colors #14aaf5 and #e0e6e8, used in Asana's My Profile Settings */
.SetParentSwitchView .switch.checked {
    background-color: #7ac8ee !important;
    border-color: #7ac8ee !important;
}

.SiblingSubtasksDropdownContainer {
    max-height: 550px;
}

.SiblingSubtasksDropdownLayer {
    float: right;
    position: relative !important;
    right: 20px;
    top: 160px;
}

.SiblingSubtasksIcon {
    height: 12px;
    width: 12px;
}

.SiblingSubtasksItem-completedIcon {
    fill: #b2ebe1;
}

.SiblingSubtasksItem-incompletedIcon {
    fill: #b7bfc6;
}

.SmallTextButtons {
    font-size: 10px;
    line-height: normal !important;
    margin: -1px 0 -1px 5px;
}